{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load mathfilters %}

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="{% url 'index' %}">Home</a> /
				<a href="">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Your Cart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Quantity</th>
									<th class="size-th">SizeSize</th>
									<th class="total-th">Price</th>
								</tr>
							</thead>
							<tbody>
								{% for order_item in object.products.all %}
								<tr>
									<td class="product-col">
										<img src="{{ order_item.product.image.url }}" alt="Project Image">
										<div class="pc-title">
											<h4>{{ order_item.product.name }}</h4>
											<p>Rs. {{ order_item.product.price }}</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
					                        <div class="pro-qty">
												<input value="{{ order_item.quantity }}">
											</div>
                    					</div>
									</td>
									<td class="size-col"><h4>Size M</h4></td>
									<td class="total-col"><h4>Rs.{{ order_item.quantity | mul:order_item.product.price }}</h4></td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>Rs. {{ object.get_total }}</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form>
					<a href="{% url 'checkout' %}" class="site-btn">Proceed to checkout</a>
					<a href="{% url 'index' %}" class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

{% endblock body %}